DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
APP_NAME=
APP_ENV=local
APP_URL=http://127.0.0.1:8000
PORT=4040
DB_CONNECTION=mysql
DB_PORT=25289
WEBSITE_URL=http://localhost:3000
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025

CLIENT_VERSION=1

JWT_SECRET=